footer {
  background:#0074eb;
  width:100%;
  min-width:1128px;
}

footer .content {
  height:185px;
}

.footer_p_phone {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin-bottom:0.75em;
}

.footer_p_copy {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin:0;
}

.footer_column_left {
  position:absolute;
  bottom:58px;
  left:0;
  text-align:left;
}
.footer_logo {
  display:block;
  position:absolute;
  bottom:50px;
  right:0;
  width:208px;
  height:30px;
  background:url(afb/logo-action-white.svg) center center no-repeat;
  background-size:contain;
  cursor:pointer;

}
