.fast_n_easy {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:75px;
  margin:0 0 0 0;
}

.fast_n_easy .text_column {
  padding-top:48px;
}

.text_column {
  width:437px;
  flex-grow:0;
  text-align:left;
}

.image_column {
  width:558px;
  height:550px;
  flex-grow:0;
  margin:0;
  padding:0;
  position:relative;
}


.demo_img {
  display:block;
  position:absolute;
  left:-30px;
  top:-30px;
}

.column_left {
  order:-1;
}
.column_right {
  order:2;
}

.connected {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.connected .text_column {
  padding-top:84px;
  margin-right:50px;
}
