@font-face {
    font-family: "ProximaNova";
    src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "ProximaNovaBlack";
    src: url("fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {
margin:0;
padding:0;
font:20px/1.5 ProximaNova;
}

/*COMMON*/
.content {
  width:1128px;
  margin:0 auto;
  position:relative;
}

ul.content {
  list-style:none;
  padding:0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


/*Main*/
main {
  position:relative;
  z-index:1;
  background:#fff;
  margin-top:767px;
  display:flex;
  flex-direction: column;
  width:100%;
  min-width:1128px;
}

h2 {
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom:20px;
}
.text_p {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #9e9e9e;
}

.text_button {
  display:inline-block;
  width: 350px;
  height: 50px;
  border-radius: 30px;
  background-color: #0074eb;
  box-shadow: 0 17px 50px 0 #75aef0;
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 50px;
  letter-spacing: normal;
  text-align: center;
  cursor:pointer;
  margin-top:19px;
  text-decoration:none;
  transition:box-shadow 0.3s, background-color 0.3s;

}

.text_button:hover {
  box-shadow: 0 9px 25px 0 #75aef0;
  background-color: #0090fb;
}

.text_button:active {
  box-shadow: 0 0 0 0 #75aef0;
  background-color: #0090fb;
}
